body{
    background-color: beige;
    margin: auto;
}

header{
    background: linear-gradient(to bottom right, cadetblue, black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin-left: 25px;
    background: linear-gradient(to right bottom, gray, white, black 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigationBarlist{
    list-style-type: none;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    margin-right: 25px;
}

.enlace{
    text-decoration: none;
    color: rgb(218, 216, 186);
    font-size: 20px;
}

.enlace:hover{
    color: burlywood;
}

.active{
    color: white;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5% 0;
    border: 1px solid black;
}

.container *{
    box-sizing: border-box;
}

.flex-outer, .flex-inner{
    list-style-type: none;
    padding: 0;
}

.flex-outer{
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li, .flex-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner{
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer > li:not(:last-child){
    margin-bottom: 20px;
}

.flex-outer li label, .flex-outer li p{
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer > li >label, .flex-outer li p{
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *, .flex-inner{
    flex: 1 0 220px;
}

.flex-outer li p{
    margin: 0;
}

.flex-outer li input:not([type='radio']), .flex-outer li textarea{
    padding: 15px;
    border: none;
}

.flex-outer .liButtons button{
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background-color: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    border-radius: 2px;
}

.flex-inner .li input{
    width: 50px;
}

.flex-outer .liButtons{
    display: flex;
    flex: wrap;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background:#b48484;
    font-family: 'calibri';
}

.menu {
    width: 900px;
    margin: 0 auto;
}


img {
    width: 120px;
    height: 50px;
    float: left;
    padding: 8px;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

nav ul li a::before {
    display: block;
    content:'';
    width: 100%;
    background: #444;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
}

nav ul li a:hover::before {
    width: 100%;
} 


/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #333;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 300px;
    height: 150px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 65px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #333;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}


.pie-pagina .grupo-2{
    background-color: #0d2033;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

